<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<title>Интеллектуальная система распознавания маркировки</title>
<link rel="stylesheet" href="/templates/css/DAN.css" />
<link rel="stylesheet" href="/templates/css/style.css" />
<script src="/templates/js/DAN.js"></script>
<script src="/templates/js/script.js"></script>
</head>
<body>
	<div class="main">
		<div class="container">
			<h1>Интеллектуальная система<br>распознавания маркировки</h1>
			<div id="content">{{ content | safe }}</div>
			<div class="button_wrap">
				<input id="input_file" class="input_file" type="file" accept="image/*">
				<input id="button_submit" class="button_submit" type="submit" value="Отправить">
			</div>
		</div>
	</div>
</body>
</html>







